## ETL Pipeline Practice

In [1]:
import numpy as np
import pandas as pd

### Extract

In [360]:
# Load data
data = pd.read_csv('../data/input/biking_trip_2021_12.csv')
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,46F8167220E4431F,electric_bike,2021-12-07 15:06:07,2021-12-07 15:13:42,Laflin St & Cullerton St,13307,Morgan St & Polk St,TA1307000130,41.854833,-87.663660,41.871969,-87.650965,member
1,73A77762838B32FD,electric_bike,2021-12-11 03:43:29,2021-12-11 04:10:23,LaSalle Dr & Huron St,KP1705001026,Clarendon Ave & Leland Ave,TA1307000119,41.894405,-87.632331,41.967968,-87.650001,casual
2,4CF42452054F59C5,electric_bike,2021-12-15 23:10:28,2021-12-15 23:23:14,Halsted St & North Branch St,KA1504000117,Broadway & Barry Ave,13137,41.899357,-87.648522,41.937582,-87.644098,member
3,3278BA87BF698339,classic_bike,2021-12-26 16:16:10,2021-12-26 16:30:53,Halsted St & North Branch St,KA1504000117,LaSalle Dr & Huron St,KP1705001026,41.899390,-87.648545,41.894877,-87.632326,member
4,6FF54232576A3B73,electric_bike,2021-12-30 11:31:05,2021-12-30 11:51:21,Leavitt St & Chicago Ave,18058,Clark St & Drummond Pl,TA1307000142,41.895579,-87.682024,41.931248,-87.644336,member

In [361]:
data.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
247535,847431F3D5353AB7,electric_bike,2021-12-12 13:36:55,2021-12-12 13:56:08,Canal St & Madison St,13341,NaN,NaN,41.882289,-87.639752,41.890000,-87.610000,casual
247536,CF407BBC3B9FAD63,electric_bike,2021-12-06 19:37:50,2021-12-06 19:44:51,Canal St & Madison St,13341,Kingsbury St & Kinzie St,KA1503000043,41.882123,-87.640053,41.889106,-87.638862,member
247537,60BB69EBF5440E92,electric_bike,2021-12-02 08:57:04,2021-12-02 09:05:21,Canal St & Madison St,13341,Dearborn St & Monroe St,TA1305000006,41.881956,-87.639955,41.880254,-87.629603,member
247538,C414F654A28635B8,electric_bike,2021-12-13 09:00:26,2021-12-13 09:14:39,Lawndale Ave & 16th St,362.0,NaN,NaN,41.860000,-87.720000,41.850000,-87.710000,member
247539,37AC57E34B2E7E97,classic_bike,2021-12-13 08:45:32,2021-12-13 08:49:09,Michigan Ave & Jackson Blvd,TA1309000002,Dearborn St & Monroe St,TA1305000006,41.877850,-87.624080,41.881320,-87.629521,member

In [362]:
data.shape

(247540, 13)

### Transform

In [363]:
# Data info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247540 entries, 0 to 247539
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             247540 non-null  object
 1   rideable_type       247540 non-null  object
 2   started_at          247540 non-null  object
 3   ended_at            247540 non-null  object
 4   start_station_name  196477 non-null  object
 5   start_station_id    196477 non-null  object
 6   end_station_name    194042 non-null  object
 7   end_station_id      194042 non-null  object
 8   start_lat           247540 non-null  float64
 9   start_lng           247540 non-null  float64
 10  end_lat             247396 non-null  float64
 11  end_lng             247396 non-null  float64
 12  member_casual       247540 non-null  object
dtypes: float64(4), object(9)
memory usage: 24.6+ MB

There are null values to be taken care of

In [364]:
data.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    51063
start_station_id      51063
end_station_name      53498
end_station_id        53498
start_lat                 0
start_lng                 0
end_lat                 144
end_lng                 144
member_casual             0
dtype: int64

In [365]:
data.dropna(inplace=True, ignore_index=True)

In [366]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176371 entries, 0 to 176370
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             176371 non-null  object
 1   rideable_type       176371 non-null  object
 2   started_at          176371 non-null  object
 3   ended_at            176371 non-null  object
 4   start_station_name  176371 non-null  object
 5   start_station_id    176371 non-null  object
 6   end_station_name    176371 non-null  object
 7   end_station_id      176371 non-null  object
 8   start_lat           176371 non-null  float64
 9   start_lng           176371 non-null  float64
 10  end_lat             176371 non-null  float64
 11  end_lng             176371 non-null  float64
 12  member_casual       176371 non-null  object
dtypes: float64(4), object(9)
memory usage: 17.5+ MB

Notice how the nulls were not all in the same rows with respect to each column, therefore the number of rows reduced by more than the nulls for each column.

In [367]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,46F8167220E4431F,electric_bike,2021-12-07 15:06:07,2021-12-07 15:13:42,Laflin St & Cullerton St,13307,Morgan St & Polk St,TA1307000130,41.854833,-87.663660,41.871969,-87.650965,member
1,73A77762838B32FD,electric_bike,2021-12-11 03:43:29,2021-12-11 04:10:23,LaSalle Dr & Huron St,KP1705001026,Clarendon Ave & Leland Ave,TA1307000119,41.894405,-87.632331,41.967968,-87.650001,casual
2,4CF42452054F59C5,electric_bike,2021-12-15 23:10:28,2021-12-15 23:23:14,Halsted St & North Branch St,KA1504000117,Broadway & Barry Ave,13137,41.899357,-87.648522,41.937582,-87.644098,member
3,3278BA87BF698339,classic_bike,2021-12-26 16:16:10,2021-12-26 16:30:53,Halsted St & North Branch St,KA1504000117,LaSalle Dr & Huron St,KP1705001026,41.899390,-87.648545,41.894877,-87.632326,member
4,6FF54232576A3B73,electric_bike,2021-12-30 11:31:05,2021-12-30 11:51:21,Leavitt St & Chicago Ave,18058,Clark St & Drummond Pl,TA1307000142,41.895579,-87.682024,41.931248,-87.644336,member

Let's look into the individual columns now.

`rideable_type`

In [368]:
data['rideable_type'].value_counts()

rideable_type
classic_bike     100272
electric_bike     71221
docked_bike        4878
Name: count, dtype: int64

This column seems fine. 

`started_at`  
For this column, we want to change the data type to a datetime format.

In [369]:
data['started_at'] = pd.to_datetime(data['started_at'])

In [370]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176371 entries, 0 to 176370
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             176371 non-null  object
 1   rideable_type       176371 non-null  object
 2   started_at          176371 non-null  datetime64[ns]
 3   ended_at            176371 non-null  object
 4   start_station_name  176371 non-null  object
 5   start_station_id    176371 non-null  object
 6   end_station_name    176371 non-null  object
 7   end_station_id      176371 non-null  object
 8   start_lat           176371 non-null  float64
 9   start_lng           176371 non-null  float64
 10  end_lat             176371 non-null  float64
 11  end_lng             176371 non-null  float64
 12  member_casual       176371 non-null  object
dtypes: datetime64[ns](1), float64(4), object(8)
memory usage: 17.5+ MB

In [371]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,46F8167220E4431F,electric_bike,2021-12-07 15:06:07,2021-12-07 15:13:42,Laflin St & Cullerton St,13307,Morgan St & Polk St,TA1307000130,41.854833,-87.663660,41.871969,-87.650965,member
1,73A77762838B32FD,electric_bike,2021-12-11 03:43:29,2021-12-11 04:10:23,LaSalle Dr & Huron St,KP1705001026,Clarendon Ave & Leland Ave,TA1307000119,41.894405,-87.632331,41.967968,-87.650001,casual
2,4CF42452054F59C5,electric_bike,2021-12-15 23:10:28,2021-12-15 23:23:14,Halsted St & North Branch St,KA1504000117,Broadway & Barry Ave,13137,41.899357,-87.648522,41.937582,-87.644098,member
3,3278BA87BF698339,classic_bike,2021-12-26 16:16:10,2021-12-26 16:30:53,Halsted St & North Branch St,KA1504000117,LaSalle Dr & Huron St,KP1705001026,41.899390,-87.648545,41.894877,-87.632326,member
4,6FF54232576A3B73,electric_bike,2021-12-30 11:31:05,2021-12-30 11:51:21,Leavitt St & Chicago Ave,18058,Clark St & Drummond Pl,TA1307000142,41.895579,-87.682024,41.931248,-87.644336,member

Same for `ended_at`.

In [372]:
data['ended_at'] = pd.to_datetime(data['ended_at'])

In [373]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176371 entries, 0 to 176370
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             176371 non-null  object
 1   rideable_type       176371 non-null  object
 2   started_at          176371 non-null  datetime64[ns]
 3   ended_at            176371 non-null  datetime64[ns]
 4   start_station_name  176371 non-null  object
 5   start_station_id    176371 non-null  object
 6   end_station_name    176371 non-null  object
 7   end_station_id      176371 non-null  object
 8   start_lat           176371 non-null  float64
 9   start_lng           176371 non-null  float64
 10  end_lat             176371 non-null  float64
 11  end_lng             176371 non-null  float64
 12  member_casual       176371 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 17.5+ MB

In [374]:
data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,46F8167220E4431F,electric_bike,2021-12-07 15:06:07,2021-12-07 15:13:42,Laflin St & Cullerton St,13307,Morgan St & Polk St,TA1307000130,41.854833,-87.663660,41.871969,-87.650965,member
1,73A77762838B32FD,electric_bike,2021-12-11 03:43:29,2021-12-11 04:10:23,LaSalle Dr & Huron St,KP1705001026,Clarendon Ave & Leland Ave,TA1307000119,41.894405,-87.632331,41.967968,-87.650001,casual
2,4CF42452054F59C5,electric_bike,2021-12-15 23:10:28,2021-12-15 23:23:14,Halsted St & North Branch St,KA1504000117,Broadway & Barry Ave,13137,41.899357,-87.648522,41.937582,-87.644098,member
3,3278BA87BF698339,classic_bike,2021-12-26 16:16:10,2021-12-26 16:30:53,Halsted St & North Branch St,KA1504000117,LaSalle Dr & Huron St,KP1705001026,41.899390,-87.648545,41.894877,-87.632326,member
4,6FF54232576A3B73,electric_bike,2021-12-30 11:31:05,2021-12-30 11:51:21,Leavitt St & Chicago Ave,18058,Clark St & Drummond Pl,TA1307000142,41.895579,-87.682024,41.931248,-87.644336,member

Next, we check `start_station_name`.

In [375]:
data['start_station_name'].value_counts()

start_station_name
Kingsbury St & Kinzie St        1796
Clark St & Elm St               1569
Wells St & Concord Ln           1384
Clinton St & Washington Blvd    1369
Clinton St & Madison St         1357
                                ...
Parkside Ave & Armitage Ave        1
Harding Ave & 26th St              1
Plainfield & Irving Park           1
Halsted St & 69th St               1
Western Ave & 62nd St              1
Name: count, Length: 785, dtype: int64

In [376]:
data['start_station_name'].values

array(['Laflin St & Cullerton St', 'LaSalle Dr & Huron St',
       'Halsted St & North Branch St', ..., 'Canal St & Madison St',
       'Canal St & Madison St', 'Michigan Ave & Jackson Blvd'],
      dtype=object)

This column seems to be fine thus far. We will check `end_station_name` as well.

In [377]:
data['end_station_name'].value_counts()

end_station_name
Kingsbury St & Kinzie St    1710
Clark St & Elm St           1555
Streeter Dr & Grand Ave     1487
St. Clair St & Erie St      1487
Clinton St & Madison St     1433
                            ...
Kostner Ave & 63rd St          1
Harding Ave & 26th St          1
Loomis Blvd & 84th St          1
Jeffery Blvd & 76th St         1
Spaulding Ave & 63rd St        1
Name: count, Length: 780, dtype: int64

In [378]:
data['end_station_name'].values

array(['Morgan St & Polk St', 'Clarendon Ave & Leland Ave',
       'Broadway & Barry Ave', ..., 'Kingsbury St & Kinzie St',
       'Dearborn St & Monroe St', 'Dearborn St & Monroe St'], dtype=object)

In [379]:
sum(~data['start_station_name'].isin(data['end_station_name']).values)

28

In [380]:
sum(~data['end_station_name'].isin(data['start_station_name']).values)

17

In [381]:
sum(~data['end_station_id'].isin(data['start_station_id']).values)

17

In [382]:
sum(~data['start_station_id'].isin(data['end_station_id']).values)

28

Now we will check `start_station_id`.

In [383]:
data['start_station_id'].value_counts()

start_station_id
KA1503000043    1796
TA1307000039    1569
TA1308000050    1384
WL-012          1369
TA1305000032    1357
                ...
354                1
332.0              1
327                1
15597              1
348                1
Name: count, Length: 783, dtype: int64

Let's also look at `end_station_id` since they should contain similar if not the same station id's. We are looking to see if there are any stations that are outliers, that is it only appears in either `start_station_id` or `end_station_id` and not both.

In [384]:
data['end_station_id'].value_counts()

end_station_id
KA1503000043    1710
TA1307000039    1555
13016           1487
13022           1487
TA1305000032    1433
                ...
420                1
406                1
20114              1
588                1
20242              1
Name: count, Length: 778, dtype: int64

We can checkout which stations only appear in one column and not the other using `isin()`.

In [385]:
# Check which end_station_id rows are not in start_station_id
data[~data['end_station_id'].isin(data['start_station_id'])]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
9963,4C44020E33AA2EDE,classic_bike,2021-12-25 11:29:36,2021-12-25 11:36:07,Greenwood Ave & 79th St,576,Woodlawn Ave & 75th St,569,41.751294,-87.597552,41.759160,-87.595751,member
11149,1674B64272BAAACE,electric_bike,2021-12-31 11:05:21,2021-12-31 11:27:14,St Louis Ave & 59th St,387,St Louis Ave & Norman Bobbins Ave,385,41.790000,-87.710000,41.790000,-87.710000,casual
32096,6A2EA8EEBE2BD89D,classic_bike,2021-12-15 12:50:40,2021-12-15 13:01:37,Cottage Grove Ave & 83rd St,585,Wabash Ave & 83rd St,587,41.743441,-87.604836,41.743316,-87.622849,member
32575,69917D85AF85EA63,classic_bike,2021-12-10 10:57:25,2021-12-10 11:01:56,Cottage Grove Ave & 111th Pl,20131,Doty Ave & 111th St,20114,41.691710,-87.610002,41.695010,-87.598715,member
33043,DCF18407C71127E7,classic_bike,2021-12-11 11:39:47,2021-12-11 11:43:33,State St & 79th St,573,Wabash Ave & 83rd St,587,41.750794,-87.624424,41.743316,-87.622849,member
58629,A114E7D7423DF20B,electric_bike,2021-12-31 23:54:42,2022-01-01 00:04:28,Menard Ave & North Ave,376,Bloomingdale Ave & Harlem Ave,377,41.910000,-87.770000,41.910000,-87.810000,casual
66063,55B43BF2C14A5301,electric_bike,2021-12-01 17:49:00,2021-12-01 17:58:22,Ravenswood Ave & Lawrence Ave,TA1309000066,N Shore Channel Trail & Argyle Ave,444,41.969141,-87.674261,41.970000,-87.700000,casual
66070,8CB781F99429D0E1,electric_bike,2021-12-27 17:47:07,2021-12-27 17:55:32,Ravenswood Ave & Lawrence Ave,TA1309000066,N Shore Channel Trail & Argyle Ave,444,41.969212,-87.674238,41.970000,-87.700000,casual
67195,18CBC7C4C358D88D,electric_bike,2021-12-16 17:48:55,2021-12-16 17:58:42,Ravenswood Ave & Lawrence Ave,TA1309000066,N Shore Channel Trail & Argyle Ave,444,41.969053,-87.674172,41.970000,-87.700000,casual
71464,C22E95C827F0A068,electric_bike,2021-12-04 00:15:46,2021-12-04 00:37:26,Kildare Ave & 47th St,401,Spaulding Ave & 63rd St,349,41.810000,-87.730000,41.780000,-87.710000,casual
73745,1CAA2BC8315143D7,electric_bike,2021-12-07 17:59:50,2021-12-07 18:12:59,Chicago State University,20106,Maryland Ave & 104th St,20134,41.718973,-87.608306,41.710000,-87.600000,member
82042,22D153A5B1D92C59,electric_bike,2021-12-03 12:24:01,2021-12-03 13:17:23,Stony Island Ave & 75th St,KA1503000019,Halsted St & 104th St,20125,41.758654,-87.586982,41.705189,-87.642419,casual
88293,553B407FB140DF22,electric_bike,2021-12-31 12:55:40,2021-12-31 13:34:48,Dodge Ave & Church St,600,Washtenaw Ave & Peterson Ave,458,42.048323,-87.698414,41.990000,-87.700000,casual
113182,D2E5817C57AB3FCB,electric_bike,2021-12-18 09:49:36,2021-12-18 10:16:59,Laramie Ave & Kinzie St,530,Washtenaw Ave & Polk St,420,41.887796,-87.755668,41.870000,-87.690000,casual
121309,1E5D9F7958110A87,classic_bike,2021-12-26 09:44:28,2021-12-26 10:04:41,South Shore Dr & 74th St,KA1503000020,Woodlawn Ave & 75th St,569,41.762189,-87.559275,41.759160,-87.595751,member
154339,669983637A8AB89D,electric_bike,2021-12-02 15:06:11,2021-12-02 15:27:31,Clark St & Ida B Wells Dr,TA1305000009,Sacramento Blvd & Polk St,419,41.875965,-87.630980,41.870000,-87.700000,casual
165107,40EC0DC4C08DED06,electric_bike,2021-12-26 13:42:20,2021-12-26 14:09:02,Hamlin Ave & 62nd Pl,350,Pulaski Rd & 60th St,404,41.780000,-87.720000,41.780000,-87.720000,casual

In [386]:
# Define these as rows we want to drop
rows_drop = data[~data['end_station_id'].isin(data['start_station_id'])].index

We will do the same for the opposite, drop rows in `end_station_id` that are not in `start_station_id`. To make sure we are dropping the correct rows, we will append those results to `rows_drop` before applying it to our dataframe.

In [391]:
data[~data['end_station_id'].isin(data['start_station_id'])].index

Index([  9963,  11149,  32096,  32575,  33043,  58629,  66063,  66070,  67195,
        71464,  73745,  82042,  88293, 113182, 121309, 154339, 165107],
      dtype='int64')

In [392]:
rows_drop = rows_drop.insert(len(rows_drop), data[~data['start_station_id'].isin(data['end_station_id'])].index)

In [393]:
rows_drop

Index([  9963,  11149,  32096,  32575,  33043,  58629,  66063,  66070,  67195,
        71464,  73745,  82042,  88293, 113182, 121309, 154339, 165107,    424,
          435,   2819,   5476,   6858,   9648,  10703,  11073,  17626,  17755,
        18081,  24282,  27006,  37133,  55181,  59321,  60134,  71464,  77793,
        92602,  96514, 100210, 113938, 137775, 137777, 155541, 156442, 159825],
      dtype='int64')

Let's drop these rows.

In [394]:
data = data.drop(rows_drop).reset_index(drop=True)

In [395]:
data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,46F8167220E4431F,electric_bike,2021-12-07 15:06:07,2021-12-07 15:13:42,Laflin St & Cullerton St,13307,Morgan St & Polk St,TA1307000130,41.854833,-87.663660,41.871969,-87.650965,member
1,73A77762838B32FD,electric_bike,2021-12-11 03:43:29,2021-12-11 04:10:23,LaSalle Dr & Huron St,KP1705001026,Clarendon Ave & Leland Ave,TA1307000119,41.894405,-87.632331,41.967968,-87.650001,casual
2,4CF42452054F59C5,electric_bike,2021-12-15 23:10:28,2021-12-15 23:23:14,Halsted St & North Branch St,KA1504000117,Broadway & Barry Ave,13137,41.899357,-87.648522,41.937582,-87.644098,member
3,3278BA87BF698339,classic_bike,2021-12-26 16:16:10,2021-12-26 16:30:53,Halsted St & North Branch St,KA1504000117,LaSalle Dr & Huron St,KP1705001026,41.899390,-87.648545,41.894877,-87.632326,member
4,6FF54232576A3B73,electric_bike,2021-12-30 11:31:05,2021-12-30 11:51:21,Leavitt St & Chicago Ave,18058,Clark St & Drummond Pl,TA1307000142,41.895579,-87.682024,41.931248,-87.644336,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
176322,E06135F650553F21,electric_bike,2021-12-07 15:55:37,2021-12-07 16:00:17,Canal St & Madison St,13341,Desplaines St & Kinzie St,TA1306000003,41.881372,-87.640042,41.888456,-87.644336,casual
176323,8DF0DBB049906332,electric_bike,2021-12-01 16:50:52,2021-12-01 16:55:18,Canal St & Madison St,13341,Desplaines St & Kinzie St,TA1306000003,41.881999,-87.639265,41.888415,-87.644342,casual
176324,CF407BBC3B9FAD63,electric_bike,2021-12-06 19:37:50,2021-12-06 19:44:51,Canal St & Madison St,13341,Kingsbury St & Kinzie St,KA1503000043,41.882123,-87.640053,41.889106,-87.638862,member
176325,60BB69EBF5440E92,electric_bike,2021-12-02 08:57:04,2021-12-02 09:05:21,Canal St & Madison St,13341,Dearborn St & Monroe St,TA1305000006,41.881956,-87.639955,41.880254,-87.629603,member
176326,37AC57E34B2E7E97,classic_bike,2021-12-13 08:45:32,2021-12-13 08:49:09,Michigan Ave & Jackson Blvd,TA1309000002,Dearborn St & Monroe St,TA1305000006,41.877850,-87.624080,41.881320,-87.629521,member

We will check `end_station_name`.

In [396]:
data['end_station_name'].value_counts()

end_station_name
Kingsbury St & Kinzie St         1710
Clark St & Elm St                1555
Streeter Dr & Grand Ave          1487
St. Clair St & Erie St           1487
Clinton St & Madison St          1433
                                 ...
Major Taylor Trail & 124th St       1
California Ave & 29th St            1
Kostner Ave & Adams St              1
Seeley Ave & Garfield Blvd          1
Halsted St & 78th St                1
Name: count, Length: 766, dtype: int64

The same check for that we did for the station IDs can be done for the start and stop station names ot ensure that we don't have any outliers.

In [397]:
sum(~data['start_station_name'].isin(data['end_station_name']).values)

1

In [398]:
sum(~data['end_station_name'].isin(data['start_station_name']).values)

0

It looks like we actually do still have one outlier that didn't get removed. Let's remove it.

In [399]:
data[~data['start_station_name'].isin(data['end_station_name'])]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
13583,D6CD5EACE14F7930,docked_bike,2021-12-25 03:06:59,2021-12-27 13:42:30,Lawndale Ave & 111th St,20203,Base - 2132 W Hubbard Warehouse,Hubbard Bike-checking (LBS-WH-TEST),41.691319,-87.712886,41.889955,-87.680651,casual

In [401]:
rows_drop = data[~data['start_station_name'].isin(data['end_station_name'])].index 

data = data.drop(rows_drop).reset_index(drop=True)

In [402]:
# Check dataframe shape
data.shape

(176326, 13)

Next, since latitude and longitude are fixed coordinate systems, we should not do any adjustments to them. This leaves us with the last column, `member_casual`.

In [403]:
data['member_casual'].value_counts()

member_casual
member    131281
casual     45045
Name: count, dtype: int64

We can see that this column is fine. 

This concludes our transforming process, we can now transfer these steps to a Python script where it will clean the dataset all at once.

In [ ]:
# Export as CSV
data.to_csv('../data/output/biking_trip_2021_12_cleaned.csv')